// ==========================================================================
// cart page  style
// ==========================================================================


// ==========================================================================
// cart item head  style
// ==========================================================================
.cart__item-head
    display: flex
    flex-wrap: wrap
    justify-content: space-between

// ==========================================================================
// cart table  style
// ==========================================================================
.table__cart
    .quantity__box
        display: flex
        .form-control
            width: 40px
    .table__number
        width: 2%
    .table__name
        width: 22%
    .table__price,
    .table__discount-price
        width: 4%
    .table__offer-desc
        width: 10%

.table__change-price
   .table__number
       width: 18%
   .table__name
       width: 32%
   .table__price,
    .table__new-price
       width: 25%
       
// ==========================================================================
// cart payment style
// ==========================================================================
.payment__body
    max-height: 620px
    overflow-y: auto
    overflow-x: hidden
    > .payment__fields-box:first-child 
        border-top: none

.payment__select-box
    border-bottom: 1px solid #e9ecef
    padding-bottom: 15px
.payment__select-payment-mode
    display: flex
    justify-content: space-between
    .form-control
        width: 160px
.payment__select-price
    display: flex
    > div
        margin-left: 15px

.payment__fields-box
    border-top: 1px solid #e9ecef
    padding-top: 15px
    margin-top: 10px
    position: relative
    z-index: 0

.payment__close
    position: absolute
    z-index: 1
    top: 10px
    right: 0
    display: block
    width: 26px
    height: 26px
    color: rgba(#000, .5)
    &:hover
        color: rgba(#000, 1)
    .bigfonts
        font-size: 16px

.payment__hints
    margin-top: 29px

.payment__fields-credit-list
    background-color: #f7f7f7
    padding-top: 10px
    padding-bottom: 10px
    max-height: 140px
    overflow-y: auto
    > div 
        margin-bottom: 8px
    > div:last-child
        margin-bottom: 0
.payment__fields-credit-display-block
    border-radius: 6px
    background-color: #fff
    cursor: pointer
    position: relative
    z-index: 0
    padding: 8px 10px
    &:after
        position: absolute
        z-index: 1
        content: ''
        border-radius: 6px
        width: 100%
        height: 100%
        left: 0
        top: 0
        border: 2px solid rgba(0,0,0,.125)
.payment__fields-credit-display-block
    &.is--selected:after
        border: 2px solid #ff5d48
    &:hover
        background-color: rgba(0, 0, 0, 0.075)

.payment__fields-create-credit
    margin-top: 8px
    padding: 10px
    border: 1px dotted rgba(0, 0, 0, 0.125)
    
// ==========================================================================
// cart select style  style
// ==========================================================================
.select-style__item
    .select-style__table
        max-height: 270px
        overflow-y: auto
        .table__number
            width: 12%
        .table__name
            width: 70%
        .table__style
            width: 18%

.select-style__item,
.select-style__style
    .select-style__table
        .is--selected
            background-color: rgba(0, 0, 0, 0.075)

// ==========================================================================
// cart discount style
// ==========================================================================
.discount-list__wrap
    position: relative
    z-index: 0
.discount__head
    position: absolute
    z-index: 1
    left: 0
    top: 6px
.discount__body-table
    .dataTables_wrapper .dataTables_filter input[type='search']
        width: auto

// ==========================================================================
// cart delivery style
// ==========================================================================
.fieldset__head
    display: flex
    justify-content: space-between
    align-items: center
    a 
        display: block
        width: 60px
        color: #6b6b6b
        &:hover
            color: #0056b3

.delivery__box-other-address
    border: 1px solid rgba(0, 0, 0, 0.125)
    margin-left: 5px
    width: 82%
    height: 320px
    overflow-y: auto
    position: relative
    z-index: 0

.delivery__box-other-address-head
    position: relative
    z-index: 0
    width: 100%
    display: flex
    justify-content: space-between
    padding: 10px
    &:after 
        content: ''
        position: absolute
        z-index: -1
        width: 100%
        height: 42px
        background-color: rgba(0, 0, 0, 0.03)
        border-bottom: 1px solid rgba(0, 0, 0, 0.125)
        top: 0
        left: 0
    h6,
    .h6
        margin-bottom: 0
    a 
        display: block
        color: #6b6b6b
        &:hover
            color: #0056b3


.card__list-text--other-address
    width: 100%
    border-top: 1px solid rgba(0, 0, 0, 0.125)
    padding-top: 5px
    padding-bottom: 5px
    li 
        padding-left: 10px
        padding-right: 10px
    &:hover,
    &.is-selected
        background-color: #f8f9fa

.delivery__box-other-address-foot
    background-color: #fff
    position: absolute
    z-index: 10
    width: 100%
    border-top: 1px solid rgba(0, 0, 0, 0.125)
    padding-top: 10px
    padding-bottom: 10px
    text-align: center
    bottom: 0
    left: 0
    
// ==========================================================================
// cart paymetn info style
// ==========================================================================
.cart__payment-info
    padding: 0 20px 20px
.cart__payment-info-title
    background-color: #f8f9fa
    padding: 10px
    margin-bottom: 0

.cart__payment-info-box
    display: flex
    flex-wrap: wrap
    border-top: 1px solid rgba(0, 0, 0, 0.125)
    padding-top: 10px
    padding-bottom: 10px

// ==========================================================================
// cart foote  style
// ==========================================================================
.cart__foot
    text-align: center
    .btn
        margin-right: 8px
        margin-left: 8px


