// ==========================================================================
// login page  style
// ==========================================================================

.login--bg1 
    background: url('../images/login/bg-2.jpg') center bottom no-repeat
    background-size: 100%

.login--bg2
    background: url('../images/login/bg-3.jpg') left bottom no-repeat
    background-size: 100%


.login__wrap
    background-color: #fff
    box-shadow: 0 1px 4px 1px rgba(#2b3d51, .5)
    width: 960px
    margin-top: 8%
    margin-left: auto
    margin-right: auto
    display: flex

.login__left
    display: flex
    align-items: flex-end
    flex-wrap: wrap
    background-color: #2b3d51
    color: #fff
    position: relative
    z-index: 0
    padding: 50px
    &:after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: -1
        background: url('../images/login/bg-1.jpg') right top no-repeat
        background-size: cover
.login__right
    padding: 50px 50px 60px

.login__form-box
    .form-group
        margin-bottom: 10px

.login__text
    p 
        margin-bottom: 5px