// ==========================================================================
// Icon initial style
// ==========================================================================
[class^="icon-"]
    display: inline-block
    
.icon-logo
    background: url('/assets/images/logo_150x40.png') no-repeat
    width: 202px
    height: 42px

.icon-logo-2
    background: url('/assets/images/main-logo-2.png') no-repeat
    width: 190px
    height: 41px

.icon-family-mart
    background: url('/assets/images/icon/icon_familymart.png') no-repeat
    width: 16px
    height: 16px

.icon-hilife-mart
    background: url('/assets/images/icon/icon_hilife.png') no-repeat
    width: 16px
    height: 16px
