// ==========================================================================
// Layout style
// ==========================================================================
.headerbar
    .headerbar-left
        text-align: left
    .logo-main
        margin-top: 7px
        margin-left: 10px
        display: block

.enlarged
    .logo-main .icon-logo
        width: 50px