// ==========================================================================
// Typography style
// ==========================================================================
.font-price,
.font-alert,
.font-hints,
.font-red {
    color: #ff5d48
}

.font-warning {
    color: #f1b53d
}


.font-dark {
    color: #2b3d51
}