// ==========================================================================
// Card box  style
// ==========================================================================

// ==========================================================================
// Card box with number style
// ==========================================================================
.card-box--with-number
    i 
        margin-top: 20px
        font-size: 46px
    .card-box-title__wrap
        display: flex
    .card-box__title
        margin-right: 10px
    .card-box--with-counter
        font-size: 3rem
        font-weight: 500
