// ==========================================================================
// Card style
// ==========================================================================

// ==========================================================================
// Card header
// ==========================================================================
.card-title
    font-size: 1.2rem

// ==========================================================================
// Card list text style
// ==========================================================================
.card
    &__list-text
        margin-bottom: 0
        li
            display: flex
            flex-wrap: wrap
    &__caption
        width: 26%
        font-weight: bold
    &__semicolon
        width: 6%
        text-align: center
    &__text
        width: (100 - (26 + 6)) + %

// ==========================================================================
// Card list text style 2
// ==========================================================================
.card__list-text--style2
    li 
        margin-bottom: 10px
        &:last-child
            margin-bottom: 0
    .card__caption
        font-weight: bold
        width: 100%
        text-align: left
    .card__semicolon
        display: none

// ==========================================================================
// fixed tool tip style
// ==========================================================================
.card__list-text--comment
    li
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 5px
        position: relative
        z-index: 0
        padding-left: 15px
        &:after 
            content: ''
            position: absolute
            z-index: -1
            background-color: #2b3d51
            border-radius: 50%
            width: 6px
            height: 6px
            left: 0
            top: 8px
        &:last-child 
            margin-bottom: 0

// ==========================================================================
// card with checkbox
// ==========================================================================
.card__list-check-with-info
    .card__list-check
        width: 5%
    .card__list-info
        width: 95%
    .card__text
        width: 100%