// ==========================================================================
// Customer data tables bootstrap4 style
// ==========================================================================
div.dataTables_wrapper
    div.dataTables_filter
        label
            white-space: unset
            display: inline-block
        input[type='search']
            width: 420px