// ==========================================================================
// fixed tool tips style
// ==========================================================================
.fixed-tool__tips
    background-color: rgba(#262D33, .9)
    position: fixed
    z-index: 1060
    color: #fff
    width: 36px
    right: 0
    top: 50%
    transform: translateY(-50%)
    display: flex
    align-items: flex-start
    flex-direction: column
    a 
        display: block
        color: #fff

.fixed-tool__comment,
.fixed-tool__todo,
.fixed-tool__top
    width: 36px
    text-align: center

.fixed-tool__comment,
.fixed-tool__todo
    padding-top: 6px
    padding-bottom: 6px
    position: relative
    z-index: 0

.fixed-tool__comment.is--open,
.fixed-tool__todo.is--open
    &:after
        content: ''
        position: absolute
        z-index: -1
        top: 12px
        left: 0
        width: 0px
        height: 0px
        border-top: 6px solid transparent
        border-bottom: 6px solid transparent
        border-left: 6px solid #fff

.fixed-tool__todo
    margin-bottom: 50px

.fixed-tool__top
    font-size: 12px
    padding-top: 10px
    padding-bottom: 10px

.fixed-tool__display-box
    background-color: #fff
    box-shadow: 0 1px 10px 2px rgba(#2b3d51, .3)
    position: absolute
    color: #212529
    z-index: 1
    width: 300px
    top: 0
    left: -300px
    a 
        color: #6b6b6b
        &:hover
            color: #0056b3
    .fixed-tool__dispaly-close
        background-color: #545b62
        color: #fff
        position: absolute
        z-index: 1
        width: 42px
        height: 42px
        top: 0
        right: 0
        .fa
            padding-top: 12px
        &:hover
            background-color: #5a6268
            color: #fff

.fixed-tool__dispaly-head
    background-color: #f8f9fa
    border-bottom: 1px solid rgba(111, 111, 111, 0.13)
    display: flex
    padding: 10px
    position: relative
    z-index: 0
    height: 42px
    h6
        margin-bottom: 0

.fixed-tool__dispaly-head--add
    padding-left: 124px

.fixed-tool__dispaly-body
    padding: 10px
