// ==========================================================================
// Member info dashboard
// ==========================================================================

// ==========================================================================
// Member info head scroll style
// ==========================================================================
.member-info__wrap.is--fixed
    position: fixed
    z-index: 1000
    width: 100%
    top: 50px
    box-shadow: 0 1px 10px 2px rgba(#2b3d51, .3)
    margin: 0
    .col-sm-12,
    .col-md-12
        padding: 0
    .member-info__head
        padding: 5px
    .card
        border-radius: 0
    .member-info__box
        padding: 5px
    .member-info__col-title
        display: none


// ==========================================================================
// Member info head style
// ==========================================================================
.member-info__head,
.member-info__head-box,
.member__discounts
    display: flex

.member-info__head,
.member-info__head-box
    justify-content: space-between

.member-info__head
    align-items: center
.member-info__head-box
    ul 
        margin-bottom: 0
        list-style: none
    a 
        color: #6b6b6b

.member__discounts
    margin-right: 20px
    li 
        position: relative
        z-index: 0
        &:after 
            content: ''
            position: absolute
            z-index: -1
            background-color: rgba(0, 0, 0, 0.3)
            width: 1px
            height: 14px
            top: 4px
            right: 0
        &:last-child:after 
            background: none
        a 
            padding-left: 8px
            padding-right: 8px
            display: block
            span:first-child
                color: #2b3d51
                font-weight: bold
            span:last-child
                color: #ff5d48
            span:last-child:hover
                color: #ff391f

// ==========================================================================
// Member info body style
// ==========================================================================
.member-info__box
    overflow: hidden
    padding: 15px 10px
.member-info__col-title,
.member-info__list li 
    display: flex
    justify-content: space-between
    a 
        color: #6b6b6b
        &:hover
            color: #0056b3
.member-info__col-title
    margin-bottom: 10px
    border-bottom: 1px solid rgba(0, 0, 0, 0.125)
.member-info__col
    position: relative
    z-index: 0
.member-info__col-title
    h4
        font-size: 18px
.member-info__col-body
    height: 76px
    overflow-y: auto
.member-info__list
    margin-bottom: 0
    li 
        margin-bottom: 5px
        padding-left: 10px
        padding-right: 10px
        position: relative
        z-index: 0
        &:last-child 
            margin-bottom: 0
        &:after
            content: ''
            position: absolute
            z-index: -1
            background-color: #2b3d51
            border-radius: 50%
            width: 6px
            height: 6px
            left: 0
            top: 7px
.member-info__list-txt
    width: 80%
    height: 22px
    overflow: hidden

.member-info__col-body--discounts
    .card__text
        width: 100 - (28 + 6) + %
        color: #ff5d48
        a 
            color: #6b6b6b
            margin-left: 4px
            &:hover
                color: #0056b3
    