// ==========================================================================
// slide up style
// ==========================================================================
.slide-up
    &__wrap
        background-color: #fff
        position: fixed
        z-index: 1010;
        width: 960px
        bottom: 0
        right: 50px
        box-shadow: 0 -2px 8px 2px rgba(#2b3d51, .5)
        transition: transform 0.2s ease-out
        transform: translate(0, 100%)
        &.slide-up--open
            transform: translate(0, 0)
    &__head
        background-color: #f8f9fa
        display: flex
        justify-content: space-between
        padding: 15px
        h6 
            margin-bottom: 0
    &__close
    &__body
        .card
            border-radius: 0
        .member-info__head
            padding: 15px
        .member-info__head h3,
        .member-info__col-title h4 
            font-size: 16px
        .member-info__col-body
            height: auto
        .member-info__box
            padding-left: 5px
            padding-right: 5px
        .card__list-text li 
            margin-bottom: 5px
            &:last-child 
                margin-bottom: 0
        .card__caption
            width: 100%
            font-weight: bold
        .card__semicolon
            display: none
        .recommend-user-info__block
            height: 330px
            overflow-y: auto
            