// ==========================================================================
// Table short style
// ==========================================================================
.table__sort-wrap
    position: relative
    z-index: 0
.table__sort
    display: flex
    flex-wrap: wrap
    list-style-type: none
    position: absolute
    z-index: 1
    left: 0
    top: 0
    margin: 8px 0 0 0
    li 
        position: relative
        z-index: 0
        &:after 
            content: ''
            position: absolute
            z-index: -1
            background-color: #ced4da
            width: 1px
            height: 14px
            top: 4px
            right: 0
    li:first-child a 
        padding-left: 0
    li:last-child:after
        background: none
    a
        padding-left: 10px
        padding-right: 10px
        display: block
        color: #6b6b6b
        &:hover 
            color: #0056b3

