// ==========================================================================
// tool tips style
// ==========================================================================
.tooltips__box
    display: flex
    margin-bottom: 0
    list-style: none
    a 
        display: block
        padding-left: 8px
        padding-right: 8px
        color: #6b6b6b
        &:hover
            color: #0056b3
    

// ==========================================================================
// member info dashboard style
// ==========================================================================
.tooltips__box--member-info
    li 
        position: relative
        z-index: 0
    .cart__count
        position: absolute
        z-index: 1
        left: 0
        top: -12px
        border-radius: 50%
        background-color: #ff391f
        padding: 8px
        font-size: 12px
        color: #fff
        width: 22px
        height: 22px
        text-align: center
        display: flex
        justify-content: center
        align-items: center